body {
  font-family: Rokkitt, sans-serif;
  background-color: #201f25;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }
}

main {
  flex: 1;
  padding: 5px;
}

input[type="number"],
select:focus,
textarea {
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scoretable {
    border: 1px solid white;

}
.scoretable th {
    font-weight: normal;
} 
.scoretable tr td {
    background-color: #fff;
}
.scoretable tr .tdLabel {
    background-color: #201f25;
    font-size: 14px;
    text-align: left; /* center checkbox horizontally */
}
.scoretable tr .tdCheckBox {
    background-color: #201f25;
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}
.scoretable .trTotal td {
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
    color: black;
}
.scoretable input {
    padding: 2px auto;
    border: none;
    background-color:   transparent;
    text-align: left;
    width:  100%;
}
.footerTable {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 0px;
}
.footerTable tr {
    background-color: #201f25;
    color: black;
    font-weight:bold;
    text-align: center;
}
.footerTable .trTitle {
    background-color: lightgrey;
    text-align: center;
}

a:link {
	color:white;
    text-decoration:none;
}
a:visited {
	color:white;
    text-decoration:none;
}
a:hover {
	color:#969bda;
	text-decoration:none;
}