@media screen and (-webkit-min-device-pixel-ratio:0){

}
body > div { 
    width: 645px; 
    margin: 0 auto; 
    position: relative; 
}
body {
    margin:0 auto;
    font-family: Rokkitt, sans-serif;
    background-color: #201f25;
    color: #fff;
  }
h2 { 
    font-size: 30px; 
    clear: both; 
    margin: 0px 0 5px; 
    padding-right: 10px; 
    float: left; 
    clear: left; 
}
i.far {
    padding-left: 20px;
    font-size: 35px;
    color: #ADD8E6;
    -webkit-text-fill-color: #ADD8E6; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
section { 
    margin: 0 0; 
    padding: 5px 0 10px; 
    border-bottom: 2px solid #333; 
    height: 120px;
}
section.players, section.rounds{  
    margin: 0 0;
    padding: 0 0; 
    border: 1px;
    border-bottom: 2px solid #333;
    height: auto;
}
section.score{  
    height: auto;
}
section.players ul li {
    border: 0px;
    padding: 0 0 0 0;
    margin: auto;
    display: inline-block;
    color: white;
}
section.players ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    cursor: initial;
}
section.players li{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    width: 100%;
    cursor: initial;
    font-size: 40px;
}
section.rounds ul li{
    border: 0px;
    padding: 0 0 0 0;
    margin: auto;
    display: inline-block;
    color: white;
}
section.rounds ul{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;  
}
section.rounds li{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;  
    width: 100%;
    font-size: 40px;  
}
section.players li.selected, section.rounds li.selected{  
    color: white;
    background-color: #0b7ca1;
}
section.players li.selected:hover, section.rounds li.selected:hover{  
    color: white;
    background-color: #0b7ca1;
}
section.players li:hover, section.rounds li:hover{  
    color: #0b7ca1;
}
section.players ul, section.rounds ul, section.score ul{  
    text-align: center;
}
section.score ul li {
    border: 0px;
    padding: 0 0 0 0;
    margin: auto;
    display: inline-block;
    color: forestgreen;
}
section.score ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    cursor: initial;
}
section.score li{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    width: 100%;
    cursor: initial;
    font-size: 40px;
}section.score li.scorevalues{
    font-size: 100px;
}
section ul { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    display: block; 
    clear: both; 
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
section ul.header { 
    padding-top: 1px; 
}
section ul li {
    margin: 0;
    margin-right: 6px;
    display: block;
    float: left;
    font-size: 30px;
    padding: 12px;
    background-color: #201f25;
    border: 1px solid #333;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
section.expedition ul li { 
    font-size: 40px;
}
section.expedition ul li:last-child { 
    margin-right: 0; 
    padding: 12px 5px; 
}
section.score li.header {
    color: white;
}
section.score li.negative {
    border: 0px;
    color: #cc0000;
}
section.yellow {
    border-bottom-color: #DFC242;
    color: #DFC242;
}
section.yellow li:hover{
    border: 1px solid #DFC242;
    background-color: #18171c;
}
section.yellow li.selected{
    color: black;
    background-color: #DFC242;
}
section.blue {
    border-bottom-color: #ADD8E6;
    color: #ADD8E6;
}
section.blue li:hover{
    border: 1px solid #ADD8E6;
    background-color: #18171c;
}
section.blue li.selected{
    color: black;
    background-color: #ADD8E6;
}
section.red {
    border-bottom-color: #cc0000;
    color: #cc0000;
}
section.red li:hover{
    border: 1px solid #cc0000;
    background-color: #18171c;
}
section.red li.selected{
    color: black;
    background-color: #cc0000;
}
section.green {
    border-bottom-color: forestgreen;
    color: forestgreen;
}
section.green li:hover{
    border: 1px solid forestgreen;
    background-color: #18171c;
}
section.green li.selected{
    color: black;
    background-color: forestgreen;
}
section.white {
    border-bottom-color: whitesmoke;
    color: whitesmoke;
}
section.white li:hover{
    border: 1px solid whitesmoke;
    background-color: #18171c;
}
section.white li.selected{
    color: black;
    background-color: whitesmoke;
}